/*
 *  libnet
 *  libnet_dll_info.rc - DLL version-information resource
 *
 *  Copyright (c) 2017 Ali Abdulkadir <autostart.ini@gmail.com>
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 *
 */

/*
 * Dear *nix folks
 * In case you're wondering what this file is (good for):
 * This "resource file" is compiled by a "Resource Compiler" and is then embedded
 * in the resultant library (DLL) like any other object.
 * The information set here can then be queried using standard APIs and can also be
 * viewed with utilities such as Windows Explorer.
 */

#ifdef NOTMINGW /* MSVC */
#include "winconfig.h"
#else
#include "config.h"
#endif

#include <winver.h>

  VS_VERSION_INFO VERSIONINFO
    FILEVERSION    PACKAGE_VERSION_DLL
    PRODUCTVERSION PACKAGE_VERSION_DLL
    FILEFLAGSMASK  0x3fL
    FILEOS         VOS__WINDOWS32
    FILETYPE       VFT_DLL
    FILESUBTYPE    VFT2_DRV_NETWORK
#ifdef _DEBUG
    FILEFLAGS 0x1L
#else
    FILEFLAGS 0x0L
#endif
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904b0"
      BEGIN
#ifdef NOTMINGW
        VALUE "Comments",         "Built with Microsoft Visual C++"
#else
        VALUE "Comments",         "Built with the GCC Windows Port (aka MinGW)"
#endif
        VALUE "CompanyName",      "https://github.com/sgeto/libnet"
        VALUE "FileDescription",  "Portable Packet Construction and Injection API"
        VALUE "FileVersion",      "PACKAGE_VERSION_DLL"
        VALUE "InternalName",     PACKAGE_NAME
        VALUE "LegalCopyright",   "Copyright (c) The libnet Developer Community."
        VALUE "LegalTrademarks",  ""
#ifdef NOTMINGW
        VALUE "OriginalFilename", "libnet.dll"
#else /* unlike MSVC, MinGW has a well established naming convention for DLLs */
        VALUE "OriginalFilename", PACKAGE_DLL_NAME
#endif
        VALUE "ProductName",      PACKAGE_NAME
        VALUE "ProductVersion",   PACKAGE_VERSION
      END
    END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0, 1200
  END
  END
/* EOF */